version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: flask_db
    restart: always

  redis:
    image: redis:7
    restart: always

  backend:
    build: ./app
    command: uwsgi --ini uwsgi.ini
    environment:
      DATABASE_URL: postgresql://user:pass@db:5432/flask_db
    depends_on:
      - db
      - redis

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - backend