services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: flask_db

  redis:
    image: redis:7

  backend:
    build: ./app
    image: flask_project_backend_v2  # <--- ВОТ ЭТУ СТРОЧКУ МЫ ДОБАВИЛИ
    environment:
      DATABASE_URL: postgresql://user:pass@db:5432/flask_db
    depends_on:
      - db
      - redis

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - backend